# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Firebase
firebase-debug.log
# Important: If you are using Firebase Functions, uncomment the next line
# functions/node_modules/
# Important: If you are using Firebase Hosting with backend functions, uncomment the next line
# .firebase/

# Vercel
.vercel

# Netlify
.netlify

# Docusaurus
.docusaurus

# Gatsby
.cache/
public

# Eleventy
_site

# Svelte
.svelte-kit

# Prisma
prisma/migrations
prisma/dev.db
prisma/dev.db-journal
*.sqlite
*.sqlite-journal
